.header {
  background-color: rgb(48, 41, 41);
  color: white;
  height: 10vh;
  font-size: 20px;
}
.header div {
  padding-top: 1.5%;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.ul {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style: none;
}
.link {
  text-decoration: none;
  color: white;
}
.link {
  color: inherit;
}
