.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.container select {
  width: 500px;
  height: 30px;
  align-self: center;
  font-size: 20px;
  text-align: center;
  border: 2px;
  border: 2px solid rgb(161, 160, 161);
  outline: none;
}
.container p {
  font-size: 20px;
  margin: 3px;
}
.container div img {
  max-width: 700px;
  max-height: 700px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
  border-radius: 10px;
  transition: 500ms;
}
.container h3 {
  font-size: 27px;
  color: rgb(54, 53, 53);
}
.container div img:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: 500ms;
}
